# Build artifacts
target/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# Coverage reports
.coverage
coverage.xml
lcov.info

# local cargo config
/.cargo/config.toml
.envrc

**/.DS_Store

# venv
.venv